<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Envíos Gratis en el día</title>
</head>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre Logo" width="100%">
    <div>
        Lugar para poner la barra de búsqueda
    </div>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </nav>
</header>
<img src="/images/img-home-banner.jpg" alt="Banner Home Mercado Liebre" width="100%">
<main>
    <h3>Basado en tu última visita</h3>
    <section>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="35%">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </article>
    </section>
    <section>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="35%">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
        </article>
    </section>
    <section>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="35%">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
    </section>
    <section>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'" width="35%">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>
    <h2>Ofertas</h2>
    <section>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="35%">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </article>
    </section>
    <section>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="35%">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
        </article>
    </section>
    <section>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="35%">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
    </section>
    <section>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'" width="35%">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>
</main>
<footer>
    <article>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </article>
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</footer>
</html>