.footer {
    padding: 5%;
    box-sizing: border-box;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer__article {
    color: #666;
    text-align: center;
}

.footer__article i {
    color: var(--colorCeleste);
    font-size: 2em;
    padding: 15px 0;
    margin-top: 5%;
}

.footer--final-line {
    margin-top: 10%;
    text-align: left;
    color: var(--colorGrisOscuro);
}