.footer {
    padding: 5%;
    border: solid 5px var(--colorGrisClaro);
    box-sizing: border-box;
}

.footer__article {
    color: var(--colorGrisOscuro);
    text-align: center;
}

.footer__article i {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-top: 10%;
}

.footer--final-line {
    margin-top: 25%;
    text-align: left;
    color: var(--colorGrisOscuro);
}