.main {
    padding: 15px;
    border: solid 15px var(--colorGrisClaro);
    box-sizing: border-box;
}

.main--title {
    font-size: 24px;
}

.main__section--price {
    font-size: 18px;
}

.main__section--discount {
    font-size: 16px;
}

.main__section--product {
    font-size: 16px;
}
