<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7f3d608fd9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>Mercado Liebre - Ingresá tu nombre de usuario y contraseña de Mercado Liebre</title>
</head>
<header class="header">
    <a class="header--logo" href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre Logo"></a>
    <div class="header--search-bar">
        <form action="/" method="post">
            <input type="search" name="productos" placeholder="Buscar productos, marcas y más">
            <a button i class="fa-solid fa-magnifying-glass" href="/" type="search" value="Buscar"></a>
        </form>
    </div>
    <p class="header--info"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta
        de crédito</p>
    <nav class="header__nav">
        <ul class="header__nav--ul">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="header__nav--ul">
            <li><a href="/registration">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
<main class="login__main">
    <section class="login__main__section">
        <article class="login__main__section__article">
            <form action="/login" method="post">
                <div class="login__main__section__article--user-info">
                    <label for="email"></label>
                    <input type="text" name="usuario" id="username" placeholder="Nombre de usuario" required>
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <p><a href="/">Olvidé mi contraseña</a></p>
                    <div class="login__main__section__article--user-info--segment">
                        <input type="checkbox" name="recordame" value="Recordame">
                        <span>Recordame</span>
                    </div>
                </div>
                <div class="login__main__section__article--button">
                    <button type="submit"><a href="/">Enviar</a></button>
                </div>
            </form>
            <p>¿No estás registrado? <a href="/registration">Registrate</a></p>
        </article>
    </section>
</main>
<footer class="footer">
    <section class="footer__section">
        <article class="footer__section__article">
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="footer--subtitle">Pagá con tarjeta o en efectivo</h4>
            <p class="footer--info">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer__section__article">
            <i class="fa-solid fa-gift"></i>
            <h4 class="footer--subtitle">Envío gratis desde $ 2.500</h4>
            <p class="footer--info">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer__section__article">
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="footer--subtitle">Seguridad, de principio a fin</h4>
            <p class="footer--info">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    </section>
    <hr>
    <p class="footer--final-line">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>

</html>